provider "openstack" {
  cloud = "{{ osp_cloud }}"
}

{% for flavor in osp_flavors %}
resource "openstack_compute_flavor_v2" "{{ flavor.name | terraform_name_escape }}" {
  name  = "{{ flavor.name }}"
  ram   = "{{ flavor.ram }}"
  vcpus = "{{ flavor.vcpus }}"
  disk  = "{{ flavor.disk }}"
}
{% endfor %}

{% for image in osp_images %}
resource "openstack_images_image_v2" "{{ image.name | terraform_name_escape }}" {
  name             = "{{ image.name }}"
  image_source_url = "{{ image.url }}"
  container_format = "bare"
  disk_format      = "{{ image.disk_format }}"
}
{% endfor %}

{% for keypair in osp_keypairs %}
resource "openstack_compute_keypair_v2" "{{ keypair.name | terraform_name_escape }}" {
  name       = "{{ keypair.name }}"
  public_key = "{{ lookup('file', keypair.path ~ '.pub') }}"
}
{% endfor %}

{% for security_group in osp_security_groups %}
{%   set tf_name = security_group.name | terraform_name_escape %}
resource "openstack_networking_secgroup_v2" "{{ tf_name }}" {
  name        = "{{ security_group.name }}"
  description = "{{ security_group.description | default(security_group.name) }}"
}

{%   for rule in security_group.rules | default([]) %}
{%     set tf_rule_name = tf_name ~ rule.name | default(rule.port|string) | terraform_name_escape %}
resource "openstack_networking_secgroup_rule_v2" "{{ tf_rule_name }}" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    = {{ rule.port }}
  port_range_max    = {{ rule.port }}
  remote_ip_prefix  = "{{ rule.ip_prefix | default('0.0.0.0/0') }}"
  security_group_id = openstack_networking_secgroup_v2.{{ tf_name }}.id
}
{%   endfor %}
{% endfor %}

{% for network in osp_networks %}
{%   set tf_name = network.name | terraform_name_escape %}
resource "openstack_networking_network_v2" "{{ tf_name }}" {
  name           = "{{ network.name }}"
  admin_state_up = "true"
  external       = "{{ network.external | default(false) | string | lower }}"
}

resource "openstack_networking_subnet_v2" "{{ tf_name }}" {
  name            = "{{ network.name }}"
  network_id      = openstack_networking_network_v2.{{ tf_name }}.id
  cidr            = "{{ network.subnet_cidr }}"
{%   if os_subnet.dns_nameservers | default(false) %}
  dns_nameservers = ["{{ os_subnet.dns_nameservers | join('", "') }}"]
{%   endif %}
}

{%   for router in network.routers | default([]) %}
{%     set tf_router_name = router.name | terraform_name_escape %}
resource "openstack_networking_router_v2" "{{ tf_router_name }}" {
  name                = "{{ router.name }}"
  admin_state_up      = true
  external_network_id = openstack_networking_network_v2.{{ tf_name }}.id
}
{%    for interface in router.interfaces %}
{%      set tf_subnet_name = interface | terraform_name_escape %}
resource "openstack_networking_router_interface_v2" "router_interface_1" {
  router_id = openstack_networking_router_v2.{{ tf_router_name }}.id
  subnet_id = openstack_networking_subnet_v2.{{ tf_subnet_name }}.id
}
{%     endfor %}
{%   endfor %}
{% endfor %}
